.mainHeading{
    font-size: 4.5rem;
    font-family: 'Caveat', cursive;
}

.date{
    font-size: 6.5rem;
    font-family: sans-serif;
}

.bgDate{
    background-image: url(https://wallpaperaccess.com/full/2028915.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    width: calc(65% - 50px);
}

.headingNotes{
    font-size: 3.5rem;
    font-weight: bolder;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }